Lista con los meses dentro de trimestres

In [1]:
t1=['enero','febrero','marzo']

In [2]:
t2=['abril','mayo','junio']

In [3]:
t3=['julio','agosto','septiembre']

In [4]:
t4=['octubre','noviembre','diciembre']

In [5]:
meses=[[t1],[t2],[t3],[t4]]

In [6]:
meses

[[['enero', 'febrero', 'marzo']],
 [['abril', 'mayo', 'junio']],
 [['julio', 'agosto', 'septiembre']],
 [['octubre', 'noviembre', 'diciembre']]]

Codigo acceso elementos de la lista

In [7]:
t1[1]

'febrero'

In [8]:
t1[0:3]

['enero', 'febrero', 'marzo']

In [9]:
t3[2],t4[0]

('septiembre', 'octubre')

Crear una lista con números desordenados

In [10]:
import random
import pandas as pd
import numpy as np

In [11]:
numeros= [random.randint(1,25) for i in range(12)]

In [12]:
numeros

[7, 12, 2, 16, 19, 7, 6, 9, 4, 7, 22, 9]

In [13]:
len(numeros)

12

In [14]:
numeros==3

False

In [15]:
numeros==3 and 4

False

In [16]:
max(numeros)

22

In [17]:
#El range interpreto que es el mismo concepto que Len, tal y como he definido la función de obtención de una lista de\
#números aleatorios

Copiar diccionario propuesto y contestar a las preguntas

In [18]:
compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }

In [19]:
compra['Cireres']= {'Qty':8,'€':2}

In [20]:
compra

{'Pomes': {'Qty': 5, '€': 0.42},
 'Peres': {'Qty': 3, '€': 0.66},
 'Cireres': {'Qty': 8, '€': 2}}

In [21]:
compra.values()

dict_values([{'Qty': 5, '€': 0.42}, {'Qty': 3, '€': 0.66}, {'Qty': 8, '€': 2}])

In [22]:
peras_q = np.array([3])
peras_p = np.array([0.66])
peras_q*peras_p

array([1.98])

In [23]:
manzanas_q= np.array([5])
cerezas_q= np.array([8])

In [24]:
peras_q+manzanas_q+cerezas_q

array([16])

In [25]:
manzanas_p= 0.42
cerezas_p= 2
peras_p=0.66

In [26]:
max('peras_p','manzanas_p','cerezas_p')

'peras_p'

In [27]:
###No entiendo,porque el resultado mayor, son las peras, ya que tendria que ser las cerezas????